<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
        <link rel="dns-prefetch" href="//unpkg.com" />
        <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
            integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
        <style>
            .modal.fade {
                opacity: 1;
            }
            .modal.fade .modal-dialog {
                -webkit-transform: translate(0);
                -moz-transform: translate(0);
                transform: translate(0);
            }
        </style>
    </head>
    <body>
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> -->
        <!-- <div class="modal-dialog" role="document"> -->
        <!-- <div class="modal-content"> -->
        <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="text-lg modal-title" id="myModalLabel">Meeting details</h4>
        <!-- </div> -->
        <!-- <div class="modal-body"> -->
        <div>
            <span class="relative inline-block font-medium tracking-widest text-gray-900 uppercase date modal-title">Tuesday 5th October 2021</span>
            <div class="flex mb-2 modal-body">
                <div class="w-1/12">
                    <span class="block w-4 h-4 mt-2 bg-blue-400 rounded-full"></span>
                </div>
                <div class="w-4/12">
                    <span class="block text-lg text-gray-600"> Topic </span>
                    <span class="block text-lg text-gray-600"> Platform </span>
                </div>

                <div class="w-9/12">
                    <span class="block text-lg font-semibold">Data analysis </span>
                    <span class="text-lg"> Zoom </span>
                </div>
            </div>
            <div class="flex mb-4 modal-body">
                <div class="w-1/12">
                    <span class="block w-4 h-4 mt-2 bg-red-400 rounded-full"></span>
                </div>
                <div class="w-4/12">
                    <span class="block text-lg text-gray-600">Mentor </span>
                    <span class="block text-lg text-gray-600">Description </span>
                </div>

                <div class="w-9/12">
                    <span class="block text-lg font-semibold">Thay E </span>
                    <p class="text-lg">Do hoc di may em</p>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- <div class="modal-footer"> -->
        <button type="button" class="text-white bg-red-400 btn hover:no-underline hover:bg-red-500 hover:text-white">Follow</button>
        <button type="button" class="bg-green-500 border-0 btn btn-primary">Join Now</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </body>
</html>
