<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="dns-prefetch" href="//unpkg.com" />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />

    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.min.js" /></script>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <script
        src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
        defer
      ></script>

      <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
        <div
          :class="sidebarOpen ? 'block' : 'hidden'"
          @click="sidebarOpen = false"
          class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"
        ></div>

        <div
          :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
          class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-green-800 lg:translate-x-0 lg:static lg:inset-0"
        >
          <div class="flex items-center justify-center mt-8">
            <div class="flex items-center">
              <span class="mx-2 text-2xl font-semibold text-white"
                >ADMIN PAGE</span
              >
            </div>
          </div>

          <nav class="mt-10">
            <a
              class="flex items-center px-6 py-2 mt-4 text-gray-100 bg-opacity-25 hover:bg-gray-700 hover:bg-opacity-25 hover:text-white hover:no-underline"
              href="/"
            >
              <i class="icon-user"></i>

              <span class="mx-3">Mentor</span>
            </a>

            <a
              class="flex items-center px-6 py-2 mt-4 text-gray-200 hover:bg-gray-700 hover:bg-opacity-25 hover:text-white hover:no-underline"
              href="/ui-elements"
            >
            <i class="icon-bell"></i>

              <span class="mx-3">Lecturer</span>
            </a>

            <a
              class="flex items-center px-6 py-2 mt-4 text-gray-200 hover:bg-gray-700 hover:bg-opacity-25 hover:text-white hover:no-underline"
              href="/tables"
            >
            <i class="icon-cog"></i>

              <span class="mx-3">Student</span>
            </a>

            <a
              class="flex items-center px-6 py-2 mt-4 text-gray-200 hover:bg-gray-700 hover:bg-opacity-25 hover:text-white hover:no-underline"
              href="/forms"
            >
            <i class="icon-calendar"></i>
              <span class="mx-3">Meeting</span>
            </a>
          </nav>
        </div>
        <div class="flex flex-col flex-1 overflow-hidden">
          <header
            class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-green-600 "
          >
            <div class="flex items-center">
              <button
                @click="sidebarOpen = true"
                class="text-gray-500 focus:outline-none lg:hidden"
              >
                <svg
                  class="w-6 h-6"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 6H20M4 12H20M4 18H11"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>

              <div class="relative mx-4 lg:mx-0">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg
                    class="w-5 h-5 text-gray-500"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </span>

                <input
                  class="w-32 pl-10 pr-4 rounded-md form-input sm:w-64 focus:outline-none focus:ring-2 focus:ring-transparent focus:border-transparent"
                  type="text"
                  placeholder="Search"
                />
              </div>
            </div>

            <div class="flex items-center">
                <!-- Logout button -->
              <h1 class="relative">Logout</h1>
            </div>
          </header>
          <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container px-6 py-8 mx-auto">

              <div class="mt-8"></div>

              <div class="flex flex-col mt-8">
                <div
                  class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
                >
                  <div
                    class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
                  >
                    <table class="min-w-full">
                      <thead>
                        <tr>
                          <th
                            class="px-6 py-3 font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 text-md bg-gray-50"
                          >
                            Name
                          </th>
                          <th
                            class="px-6 py-3 font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 text-md bg-gray-50"
                          >
                            ID
                          </th>
                          <th
                            class="px-6 py-3 font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 text-md bg-gray-50"
                          >
                            Role
                          </th>
                          <th
                            class="px-6 py-3 font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 text-md bg-gray-50"
                          >
                            Edit
                          </th>
                          <th
                            class="px-6 py-3 font-medium text-left text-gray-500 uppercase border-b border-gray-200 text-md bg-gray-50"
                          >Block</th>
                        </tr>
                      </thead>
<!-- Table with example content -->
                      <tbody class="bg-white">
                        <tr>
                          <td
                            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 "
                          >
                            <div class="flex items-center">
                              <div class="ml-4">
                                <div
                                  class="font-medium leading-5 text-gray-900 text-md "
                                >
                                  mentorF
                                </div>
                                <!-- <div class="leading-5 text-gray-500 text-md">
                                  mentorF@gmail.com
                                </div> -->
                              </div>
                            </div>
                          </td>

                          <td
                            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 "
                          >
                            <div class="leading-5 text-gray-900 text-md">
                              ME0001
                            </div>
                            <!-- <div class="leading-5 text-gray-500 text-md">
                                Software Engineer
                            </div> -->
                          </td>

                          <td
                          class="px-6 py-4 leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200 text-md "
                        >
                          Mentor
                        </td>

                          <td
                            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 "
                          >
                            <span
                              class="inline-flex px-5 py-2 font-semibold leading-5 text-green-800 bg-green-100 rounded-lg text-md "
                              >Edit</span
                            >
                          </td>


                          <td
                            class="px-6 py-4 font-medium leading-5 text-left whitespace-no-wrap border-b border-gray-200 text-md "
                          >
                          <span
                          class="inline-flex px-5 py-2 font-semibold leading-5 text-red-800 bg-red-100 rounded-lg text-md "
                          >Block</span
                        >
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
    defer
  ></script>
</html>
