<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
        <link rel="dns-prefetch" href="//unpkg.com" />
        <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    </head>
    <body>
        <main class="bg-white font-open-sans">
            <div class="container relative flex flex-col items-center px-8 py-5 mx-auto lg:py-5 lg:flex-row">
                <div class="flex flex-col items-start mt-8 sm:w-2/4 sm:mt-0">
                    <h1 class="mb-4 text-3xl font-light leading-tight text-center text-blue-700 lg:text-left sm:text-5xl">
                        Hello
                        <strong class="block text-3xl font-black sm:text-4xl">Student</strong>
                    </h1>
                    <p class="leading-relaxed text-center text-gray-500 lg:text-left sm:text-lg lg:pr-40">
                        Welcome to Mentor Appointment Schedule Application. Many interesting meetings are comming up...
                    </p>
                    <a
                        href="#"
                        class="px-8 py-3 mt-8 text-lg font-bold tracking-widest text-white uppercase bg-blue-400 rounded-full hover:bg-blue-500"
                        >See More</a
                    >
                </div>
                <div class="sm:w-3/4">
                    <img class="w-full" src="https://i.pinimg.com/originals/ae/5a/e1/ae5ae16a1f8bdad663c96a699d91e646.jpg" alt="Welcome Student" />
                </div>
            </div>
        </main>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
        defer
        src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
        integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</html>
